package ${package.Dal};

import ${package.Entity}.${entity};
import ${package.Mapper}.${table.mapperName};
import ${superDalClass};
import org.springframework.stereotype.Repository;

/**
 * <p>
 * $!{table.comment} 数据访问类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@Repository
#if(${kotlin})
open class ${table.dalName} : ${superDalName}<${table.mapperName}, ${entity}>(){

    }
#else
public class ${table.dalName} extends ${superDalName}<${table.mapperName}, ${entity}> {

}
#end
